<!--
  Generated template for the LeadDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  
    <ion-navbar>
      <ion-title>LEAD DETAILS</ion-title>
      <ion-buttons right>
        <button (click)="edit()" ion-button >
          <ion-icon name="md-create"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button (click)="goback()" ion-button >
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content padding>
  
      <div *ngIf="tag == true" class="broker">
  
    <ion-card>
      
              <ion-card-content>
                  <img src="assets/imgs/pioneet.png"/>
                  <h2>{{broker.name}}</h2>
                  <h3>{{broker.designation}}</h3>
              </ion-card-content>
      
              <ion-list>
                  <a  ion-item>
                      <ion-icon name="contact" item-left></ion-icon>
                      <p>Username</p>
                      <h2>{{broker.username}}</h2>
                      <!-- <ion-input value="{{broker.username}}"></ion-input> -->
                  </a>
                  <a ion-item>
                        <ion-icon name="lock" item-left></ion-icon>
                        <p>Password</p>
                        <!-- <ion-input value="{{broker.password}}"></ion-input> -->
                        <h2>{{broker.password}}</h2>
                    </a>
                    <a href="9443079499" ion-item>
                            <ion-icon name="call" item-left></ion-icon>
                            <p>Call Office</p>
                            <h2>{{broker.mobileno}}</h2>
                        </a>
                  <a href="7339221252" ion-item>
                      <ion-icon name="call" item-left></ion-icon>
                      <p>Call Mobile</p>
                      <h2>{{broker.mobileno}}</h2>
                  </a>
                  <a href="9443079499" ion-item>
                      <ion-icon name="text" item-left></ion-icon>
                      <p>Text</p>
                      <h2>{{broker.mobileno}}</h2>
                  </a>
                  <a href="chandruviswachan@gmail.com" ion-item>
                      <ion-icon name="mail" item-left></ion-icon>
                      <p>Email</p>
                      <h2>{{broker.email}}</h2>
                  </a>
              </ion-list>
      
          </ion-card>
      </div>


      <form *ngIf="tag  != true">
        <ion-item>
          <ion-label>Username</ion-label>
          <ion-input type="text" [(ngModel)]="broker.username"  name="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Password</ion-label>
          <ion-input type="text" [(ngModel)]="broker.password"  name="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Name</ion-label>
          <ion-input type="text" [(ngModel)]="broker.name"  name="password"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Designation</ion-label>
            <ion-select  [(ngModel)]="broker.designation"    name="designation" >
              <ion-option value="Sales Admin">Sales Admin</ion-option>
              <ion-option value="Sales Satff">Sales Satff</ion-option>
              <ion-option value="Services Admin">Services Admin</ion-option>
              <ion-option value="Services Staff">Services Staff</ion-option>
            </ion-select>
          </ion-item>
        <ion-item>
          <ion-label>Mobile</ion-label>
          <ion-input type="text" [(ngModel)]="broker.mobileno"   name="mobileno"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Email</ion-label>
            <ion-input type="email" [(ngModel)]="broker.email"   name="email"></ion-input>
          </ion-item>
       
        <button ion-button type="submit"(click)="updateleadServer()" block>Update</button>
      </form> 
  
     
  
  
  
  </ion-content>
  