<!--
  Generated template for the LeadManagementPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      USER MANAGEMENT
    </ion-title>
    <ion-buttons right>
            <button (click)="goback()" ion-button >
              <ion-icon name="home"></ion-icon>
            </button>
          </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content padding>
 <ion-fab bottom right>
      <button (click)="addLead()" ion-fab mini>
        <ion-icon item-start [name]="md-add" >+</ion-icon>
      </button>
    </ion-fab>


   <ion-list>
              <!-- <button ion-item *ngFor="let broker of postList" (click)="openLEADpage(broker)">
                  <ion-avatar item-left>
                      <img src="assets/imgs/pioneet.png"/>
                  </ion-avatar>
                  <h2>{{broker.door_no}},{{broker.street}},</h2>
                  <p>{{broker.city}},{{broker.state}},</p>
                  <p>{{broker.pincode}}.</p>
              </button> -->

              <ion-item-sliding *ngFor="let broker of postList">
                <button ion-item (click)="openLEADpage(broker)">
                    <ion-thumbnail item-left>
                        <img src="assets/imgs/pioneet.png"/>
                    </ion-thumbnail>
                    <h2>{{broker.door_no}},{{broker.street}},</h2>
                    <p>{{broker.city}},{{broker.state}},</p>
                    <p>{{broker.pincode}}.</p>
                    <!-- <p>{{property.city}}, {{property.state}} ∙ {{ property.price }}</p> -->
                </button>
                <ion-item-options>
                    <button danger (click)="deleteItem(broker.bid)">Delete</button>
                </ion-item-options>
            </ion-item-sliding>
      
          </ion-list> 

</ion-content>
