<!--
  Generated template for the SalesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-buttons left>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        SERVICES
      </ion-title>
      <ion-buttons end>
        <button ion-button icon-only (click)="clear()">
          <ion-icon name="close"></ion-icon>
        </button>
      </ion-buttons>
      <ion-buttons right>
        <button (click)="goback()" ion-button >
          <ion-icon name="home"></ion-icon>
        </button>
      </ion-buttons>
    </ion-navbar>
  </ion-header>

<ion-content padding>
    <!-- <ion-card>
        <ion-card-header>
          GRAPH REPRESENTATION
        </ion-card-header>
        <ion-card-content>
          <canvas style='height:100%;width:100%' #barCanvas></canvas>
        </ion-card-content>
      </ion-card> -->
      <ion-card>
        <ion-card-header>
          GRAPH REPRESENTATION
        </ion-card-header>
        <ion-card-content>
          <canvas style="height:100%;width:100%" #doughnutCanvas></canvas>
        </ion-card-content>
      </ion-card>
   
        <ion-list>
            <ion-item *ngIf="flas">
                <ion-label>Admin</ion-label>
                <ion-select  [(ngModel)]="custome.aid" name="custome.aid" >
                  <ion-option [value]="leadscs.aid"  *ngFor="let leadscs of postListfive" >{{leadscs.name}}</ion-option>
                </ion-select>
              </ion-item>

          <ion-item>
            <ion-label floating>Start Date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="custome.start_date " name="custome.start_date"></ion-datetime>
          </ion-item>
         
          <ion-item>
            <ion-label floating>End Date</ion-label>
            <ion-datetime displayFormat="D MMM YYYY" pickerFormat="DD/MM/YYYY" [(ngModel)]="custome.end_date" name="custome.end_date"></ion-datetime>
          </ion-item>
          <ion-item>
            <button ion-button type="submit" (click)="getEnqReport()" full round>Submit</button>
          </ion-item>
          

          <ion-list  radio-group [(ngModel)]="relationship">
            <ion-item>
              <ion-radio (ionSelect)="mcqAnswer(1)" value="modal" checked></ion-radio>
              <ion-label >By MODAL</ion-label>
            </ion-item>
          </ion-list>
        </ion-list>
     
        <!-- <ion-card>
          <ion-card-header>
            Bar Chart
          </ion-card-header>
          <ion-card-content>
            <canvas #barCanvas></canvas>
          </ion-card-content>
        </ion-card> -->
  
                  <div id="table-scroll" class="table-scroll">
                    <div class="table-wrap">
                      <table class="main-table">
                        <thead>
                          <tr>
                            <th scope="col">date</th>
                            <th scope="col">model</th>
                            <th scope="col">labr_amt</th>
                            <th scope="col">spare_part_amt</th>
                            <th scope="col">location</th>
                            <th scope="col">in_no</th>
                            <th scope="col">out_no</th>
                            <th scope="col">pending</th>
                            <th scope="col">remarks</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of postList">
                            <td>{{data.date}}</td>
                            <td>{{data.model}}</td>
                            <td>{{data.labr_amt}}</td>
                            <td>{{data.spare_part_amt}}</td>
                            <td>{{data.location}}</td>
                            <td>{{data.in_no}}</td>
                            <td>{{data.out_no}}</td>
                            <td>{{data.pending}}</td>
                            <td>{{data.remarks}}</td>
                            
                          </tr>
                        </tbody>
                        
                      </table>
                    </div>
                  </div>

</ion-content>
